{% extends 'base.html.twig' %}

{% block title %}New Echantillon{% endblock %}

{% block body %}
    <h1>Create new Echantillon</h1>

    {{ include('echantillons/_form.html.twig') }}

    <a href="{{ path('app_echantillons_index') }}">back to list</a>
{% endblock %}
